header {
  background-color: rgb(56, 56, 56);
  color: aliceblue;
  text-align: center;
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(183, 209, 231);
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  background-color: rgba(238, 235, 235, 0.89);
  padding-left: 20px;
}

td,
th {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-top: 20px;
}