* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
html {
  width: 1600px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
p {
  font-size: 14px;
  line-height: 20px;
  color: #4E4E4E;
  ;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  color: #373737;
}



.YLisWeb {
  height: 744px;
  text-align:center; 
  color: white;
  background-image: url(../images/1.1.jpg);
} 
nav {
  height: 231px;
  display: flex;
  justify-content:center;
  align-items: flex-start;
}
#about {
  text-decoration: underline;
  text-underline-offset: 5px;
  padding: 38px;
  font-weight: 400;
}
#opacity {
  opacity: 80%;
  padding-inline: 38px;
  padding-top: 38px;
  font-weight: 400;
}
#opacity:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: white;
  opacity: 100%;
}
#logo {
  padding-top: 25px;
  padding-inline: 62px;
}
h1 {
  height: 95px;
  font-size: 64px;
  letter-spacing: 4.5px;
}
.Whatever {
  color: white;
  font-weight: 400;
  height: 80px;
  font-size: 18px;
  line-height: 25px;
}
.button {
  width: 184px;
  height: 46px;
  background-color: #00AFDB;
  color: white;
  border:0;
  font-size: 14px;
  font-weight: 700;
}
.button:hover {
  background: #009CC2;
}
address {
  height: 203px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}



.REPRESENT {
  height: 842px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Text2 {
  width: 407px;
  height: 233px;
}
.Tasks {
  padding-top: 20px;
  padding-bottom: 30px;
  color: #4E4E4E;
}



.COMMUNITY {
  overflow: hidden;
  height: 504px;
  background-color: #F5F6F7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Text3 {
  width: 298px;
  height: 175px;
  text-align: center; 
}
h3{
  color: #373737;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 10px;
}
article {
  margin-left: 800px;
  font-size: 18px;
  font-weight: 500;
}
.sliderimg {
  margin-top: 20px;
  justify-content: flex-end;
  display: flex;
  gap: 30px;
  margin-right: -500px;
}
.container {
  box-sizing: border-box;
}



.IMPLEMENT {
  height: 842px;
  margin-left: 269px;
  display: flex;
  gap: 139px;
  align-items: center;
}



.SING {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 598px;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(../images/back.png);
} 
.email {
  display: flex;
  justify-content: center;
  height: 46px;
  width: 450px;
  padding-bottom: 30px;
}
input {
  padding-left: 24px;
  height: 44px;
  width: 314px;
  border: 0;
  outline:none;
}
::-webkit-input-placeholder {
  color: #373737;
}
.button2 {
  background-image: url(../images/check-icon.svg);
  width: 66px;
  height:46px;
  border: 0;
}
.button2:hover {
  background-image: url(../images/check-icon2.svg);
}



.DONWLOAD {
  color: #4E4E4E;
  display: flex;
  flex-direction: column;
  height: 468px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #F5F6F7;
}
.buttons {
  padding-top: 10px;
  padding-bottom: 70px;
  display: flex;
  gap: 30px;
}
.button3 {
  background-image: url(../images/check-icon3.svg);
  width: 188px;
  height:50px;
  border: 0;
}
.button4 {
  background-image: url(../images/check-icon4.svg);
  width: 188px;
  height:50px;
  border: 0;
}
.button3:hover {
  background-image: url(../images/check-icon3.3.svg);
}
.button4:hover {
  background-image: url(../images/check-icon4.4.svg);
}



footer {
  background-color: black;
  display: flex;
  height: 184px;
  align-items: center;
  gap: 160px;
  justify-content: space-evenly;
}
.footer {
  justify-content: space-between;
  height: 184px;
  width: 236px; 
  display: flex;
  align-items: center;
  opacity: 98%;
}
.end {
  font-size: 14px;
  color: #818181;
  width: 236px;
  margin: 0%;
}